@charset "UTF-8";

/*基本事項---開始----------------------------------------*/
html,body,h1,h2{
	margin:0;
	padding:0;
}

html,body{/*#welcome用*/
	height:100%;
}

body{
	color:#000;
	background-color:#630;
	background-image:url("../images/bg.jpg");
}

a{
	color:#fff;
}

a:visited{
	color:#999;
}

a:hover{
	color:#f00;
}

a img{
	border-style:none;
}

h2{
	color:#fff;
	background:#000;
	width:70%;
	margin:1em auto;
	padding:1em;
	text-align:center;
}

p{
	line-height:1.5em;
}

em{
	color:#f00;
}

table{
	border-collapse:collapse;
	width:100%;
	margin:auto;
}

th,td{
	border:solid 1px #000;
	padding:10px 3px 10px 3px;
}

.shadow{/*ドロップシャドー*/
	box-shadow:5px 5px 5px rgba(0,0,0,0.6);
	-moz-box-shadow:5px 5px 5px rgba(0,0,0,0.6);
	-webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.6);
	-o-box-shadow:5px 5px 5px rgba(0,0,0,0.6);
	-ms-box-shadow:5px 5px 5px rgba(0,0,0,0.6);
}

input,textarea{
	background-color:#ccc;
}


/*基本事項-------終了------------------------------------*/



/*WELCOME---開始----------------------------------------*/
#welcome{
	color:#fff;
	background-color:#000;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	z-index:600;
	visibility:hidden;
}

#welmoji{
	font-size:2.5em;
	font-family:Stencil Std,Georgia,Times,"Times New Roman",serif;
	text-align:center;
	/*↓line-heightに100%は無効なので上下センタリングの苦肉の策。厳密にはセンターにはならないが・・・*/
	position:relative;
	top:45%;
}

/*アニメーション---開始----*/
#w1{
	animation:anime1 3s linear ;
	-moz-animation:anime1 3s linear ;
	-webkit-animation:anime1 3s linear ;
	-o-animation:anime1 3s linear ;
	-ms-animation:anime1 3s linear ;
}
@keyframes anime1{
	0%{color:#000;}
	10%{color:#000;}
	30%{color:#fff;}
}

#w2{
	animation:anime2 3s linear ;
	-moz-animation:anime2 3s linear ;
	-webkit-animation:anime2 3s linear ;
	-o-animation:anime2 3s linear ;
	-ms-animation:anime2 3s linear ;
}
@keyframes anime2{
	0%{color:#000;}
	20%{color:#000;}
	40%{color:#fff;}
}

#w3{
	animation:anime3 3s linear ;
	-moz-animation:anime3 3s linear ;
	-webkit-animation:anime3 3s linear ;
	-o-animation:anime3 3s linear ;
	-ms-animation:anime3 3s linear ;
}
@keyframes anime3{
	0%{color:#000;}
	30%{color:#000;}
	50%{color:#fff;}
}

#w4{
	animation:anime4 3s linear ;
	-moz-animation:anime4 3s linear ;
	-webkit-animation:anime4 3s linear ;
	-o-animation:anime4 3s linear ;
	-ms-animation:anime4 3s linear ;
}
@keyframes anime4{
	0%{color:#000;}
	40%{color:#000;}
	60%{color:#fff;}
}

#w5{
	animation:anime5 3s linear ;
	-moz-animation:anime5 3s linear ;
	-webkit-animation:anime5 3s linear ;
	-o-animation:anime5 3s linear ;
	-ms-animation:anime5 3s linear ;
}
@keyframes anime5{
	0%{color:#000;}
	50%{color:#000;}
	70%{color:#fff;}
}

#w6{
	animation:anime6 3s linear ;
	-moz-animation:anime6 3s linear ;
	-webkit-animation:anime6 3s linear ;
	-o-animation:anime6 3s linear ;
	-ms-animation:anime6 3s linear ;
}
@keyframes anime6{
	0%{color:#000;}
	60%{color:#000;}
	80%{color:#fff;}
}

#w7{
	animation:anime7 3s linear ;
	-moz-animation:anime7 3s linear ;
	-webkit-animation:anime7 3s linear ;
	-o-animation:anime7 3s linear ;
	-ms-animation:anime7 3s linear ;
}
@keyframes anime7{
	0%{color:#000;}
	70%{color:#000;}
	90%{color:#fff;}
}
/*アニメーション-------終了*/

#skip{
	position:absolute;
	right:10%;
	bottom:10%;
	font-weight:bold;
	cursor:pointer;
}
/*WELCOME-------終了------------------------------------*/



/*段組み---開始----------------------------------------*/
#wrapper0{/*welcome時にスクロールバー出さない為に*/
	width:100%;
	height:100%;
}
#wrapper{
	width:96%;
	height:100%;
	min-width:320px;
	margin:auto;
	position:relative;/*navi位置合わせ用*/
}


/*header---開始---------*/
#header{
	background:#000;
	padding:0 1em 0 1em;
}

	h1{
		font-size:3em;
		text-align:center;
		font-family:serif;
		/*Stencil Std,*/
	}
	
	#header a{
		text-decoration:none;
	}
	
	#header a:visited{
		color:#fff;
	}
	
	#header a:hover{
		color:#f00;
	}
	
/*header-------終了-----*/


/*navi---開始---------*/
#navi{
	background-color:#000;
	overflow:hidden;
}

	#navi ul{
		margin:0;/**/
		padding:0;/**/
		list-style-type:none;/**/
	}
	
	#navi ul li{
		background-color:#000;
		width:7em;
		float:left;
	}
	
	#navi ul li a{
		text-decoration:none;/**/
		display:block;/**/
		line-height:2em;
		text-align:center;
		font-weight:bold;
	}
	
	#navi ul li a:hover{
		background:#ccc;
		background:linear-gradient(white, gray);
		background:linear-gradient(linear, left top, left bottom, from(white), to(gray));
	}
/*navi-------終了-----*/

/*slide---開始---------*/
#slide{
	width:96%;
	padding:2%;
	float:right;
}

#slide_sitaji{
	background-color:#fff;/*opcity(透過)でbodyのbgが見えないようにする為*/
	margin:auto;
	padding:2%;/*写真風にする為*/
}

/*スライドショー---開始----*/
#slide .cycle-slideshow{
	cursor:pointer;
}

#slide .cycle-slideshow:hover{
	opacity:0.8;
	-moz-opacity:0.8;
	-webkit-opacity:0.8;
	-o-opacity:0.8;
	-ms-opacity:0.8;
}

.cycle-slideshow img{
	width:100%;
	height:auto;
}

#slide .cycle-slideshow img:hover{/*jQuery非対応環境下用※二重にかかるからさらに薄くなる*/
	opacity:0.8;
	-moz-opacity:0.8;
	-webkit-opacity:0.8;
	-o-opacity:0.8;
	-ms-opacity:0.8;
}

/*スライドショー-------終了*/

/*ページャー---開始----*/
.cycle-pager{
	text-align:center;
	width:100%;
	z-index:500;
	position:absolute;
	bottom:0;
}

.cycle-pager span{
	font-family:arial;
	font-size:50px;
	width:50px;
	height:50px;
	display:inline-block;
	color:#ccc;
}

.cycle-pager span:hover{
	color:#333;
}

.cycle-pager span.cycle-pager-active{
	color:#f00;
}
/*ページャー-------終了*/
/*slide-------終了-----*/


/*banner---開始---------*/
#banner{
	background-color:#fff;
	width:96%;
	margin:2%;/**/
	float:left;
	border-radius:5px 5px 5px 5px/5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px/5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px/5px 5px 5px 5px;
	-o-border-radius:5px 5px 5px 5px/5px 5px 5px 5px;
	-ms-border-radius:5px 5px 5px 5px/5px 5px 5px 5px;
}

/*banner-------終了-----*/

/*main---開始---------*/
#main{
	background-color:#fff;
	width:90%;
	margin:2%;
	padding:3%;
	float:right;
	border-radius:5px 5px 5px 5px/5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px/5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px/5px 5px 5px 5px;
	-o-border-radius:5px 5px 5px 5px/5px 5px 5px 5px;
	-ms-border-radius:5px 5px 5px 5px/5px 5px 5px 5px;
}

/*main-------終了-----*/

/*footer---開始---------*/
#footer{
	clear:both;
	color:#999;
	background-color:#000;
	width:100%;
	height:2em;
	line-height:2em;
	text-align:center;
	font-size:0.6em;
	margin-bottom:6em;/*naviにjQueryが当てられたら消す*/
}
/*footer-------終了-----*/
/*段組み-------終了------------------------------------*/



/*products---開始----------------------------------------*/
#box {
	background-color:#333;
	width:96%;
	margin:2%;
	overflow:hidden;
}

#box:hover{
	background-color:#666;
}

#box .buhin{
	width:47%;
	min-height:85px;
	float:left;
	text-align:center;
	margin:0.5%;
	padding:0.5%;
}

/*products-------終了------------------------------------*/



/*product個別---開始----------------------------------------*/
.tmb{
	margin:1%;
}

#main .cycle-slideshow{
	width:100%;
}

#adv-custom-pager{
	width:100%;
}

/*product個別-------終了------------------------------------*/



/*info---開始----------------------------------------*/
textarea{
	width:100%;
}


/*info-------終了------------------------------------*/



